.follow_page {
    display: table;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.follow_head, .follow_list {
    width: 900px;
    background-color: white;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #e1e1e1;
    margin-bottom: 10px;
    overflow: hidden;
}

.head_card {
    width: 900px;
    height: 280px;
    background-image: url("../image/personal_card.jpg");
    background-size: 100% 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 50px;
}

.head_avatar {
    display: inline-block;
    margin: 10px;
}

.head_avatar img {
    display: inline-block;
    border-radius: 50%;
    width: 110px;
    border-width: 2px;
    border-color: white;
    border-style: solid;
}

.head_avatar img:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 2px white;
    opacity: 0.9;
}

.head_username {
    font-size: 30px;
    color: white;
    text-shadow: 0 0 5px #0e0e0e;
}

.head_username i {
    font-size: 22px;
    text-shadow: none;
}

.head_nav {
    height: 40px;
    overflow: hidden;
}

.nav_pos {
    display: inline-block;
    width: 65%;
    height: 40px;
    overflow: hidden;
}

.nav_btn {
    display: inline-block;
    height: 40px;
    width: 30%;
}

.nav_btn span {
    display: inline-block;
    height: 40px;
    width: 80px;
    padding: 10px;
}

.nav_btn a {
    color: #767676;
}

.nav_btn a:hover {
    color: #454545;
}

.nav_btn span:hover {
    border-bottom-color: #0f88eb;
    border-bottom-width: 3px;
    border-bottom-style: solid;
}

/*关注列表每个用户的资料卡样式*/

.follow_list {
    overflow: hidden;
    padding-bottom: 1.35%;
}

.follow_card {
    display: inline-block;
    width: 31.5%;
    height: auto;
    overflow: hidden;
    border-radius: 3px;
    padding: 8px;
    border-style: solid;
    border-color: #e2e2e2;
    border-width: 1px;
    box-shadow: 0 0 5px #e2e2e2;
    margin-left: 1.35%;
    margin-top: 1.35%;
    float: left;
}

.follow_avatar {
    display: inline-block;
    float: left;
    width: 40%;
    max-height: 108px;
}

.follow_list .thumbnail {
    width: 100%;
}

.follow_info_container {
    padding: 5px;
    padding-right: 0;
    display: inline-block;
    width: 60%;
    float: left;
    overflow: hidden;
}

.follow_info {
    display: inline-block;
    float: left;
    width: 100%;
}

.follow_info li {
    display: block;
    float: left;
    width: 33%;
    text-align: center;
    border-right-width: 1px;
    border-right-style: solid;
    border-color: #eaeaea;
}

.follow_user {
    text-align: left;
    display: inline-block;
    margin: 10px;
    width: 90%;
    overflow: hidden;
}

.follow_info ul {
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}

.follow_info span {
    display: block;
    width: 100%;
    color: #a9a9a9;
}

.follow_info li:last-child {
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}

.follow_user a {
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
    overflow: hidden;
    max-width: 82%;
    margin: 2px;
}